@model IEnumerable<KWH.Common.ViewModel.RFIdViewModel>;

@{
    ViewData["Title"] = "RFData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
<div class="card mb-4" style="margin-top:10px">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        RF Data
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Edit</th>
                </tr>
            </thead>

            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TimeIn</td>
                            <td>@item.TimeOut</td>
                            <td>
                                <a asp-action="GetRFIdById" asp-route-id="@item.RFIdNo">
                                     <img src="~/Content/img/icon/admin-edit.svg">
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
</div>

